.sumulateur{
    background-color:white;
}
.tiitleForm{
    background-color:#689aca ;
    margin-right: 20px;
    padding-right: 0em;
    width:65em;
    color:white;
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 18px;
    text-align: center;
    
}