.homeSlideHead1 {
    background-color: #e3e8fd;
    margin-top: -45px;
}
.homeSlideHead1 .carousel-item {
    min-height: 250px;
    max-height: 400px;
}
.homeSlideHead1 .carousel-item.active {
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
}
.homeSlideHead1 .carousel-item:after {
    content: '';
    display: block;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    background: rgba(0, 0, 0, .7);
}

.homeSlideHead1 .carousel-caption  {
    text-align: center;
    /*position: static !important;*/
    padding: 30px  10px ;
    }

.homeSlideHead1 .carousel-caption  h3{
    font-size: 36px;
    color: white;
    font-weight:600 ;
    font-family: 'Aeonik-Light', sans-serif;
    margin-top: -105px;
}
.homeSlideHead1 .carousel-caption p {
    margin: 10px;
    color:  white;
    font-weight:300 ;
    font-family: 'Aeonik-Regular', sans-serif;
    font-size: 22px;
    
}
.homeSlideHead1 .carousel-caption .btn {
    color:  #FFFFFF;
    text-transform: uppercase;
    border-color:  #FFFFFF;
    background-color: rgba(255, 255, 255, .1);
    padding: 15px 55px;
    border-radius: 50px;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Aeonik-Light', Arial, sans-serif;
    transition: all .3s ease-in;
}
.homeSlideHead1 .carousel-caption .btn:hover {
    color:  #059b38;
    background-color: rgba(255, 255, 255, 1);
}

.homeSlideHead1 .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #cbcbcb;
    border-radius: 5px;
    border:1px solid  #cbcbcb !important;
    margin: 10px;
}
.homeSlideHead1 .carousel-indicators li.active {
    background-color: #fff;
    border:1px solid  #cbcbcb !important;
    border-radius: 5px;
}
img{
    width: fit-content;
}
i{
    font-style: italic;
}

